<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AzureQueueConnectionString" value="DefaultEndpointsProtocol=https;AccountName=YOUR_ACCOUNT_NAME;AccountKey=YOUR_ACCOUNT_KEY" />
    <add key="AzureQueueName" value="lyncstatus"/>
    <add key="AzureDebugQueueName" value="lyncstatusdebug" />
    <!-- Pins: Red, Yellow, Green -->
    <add key="UserPortMapping:User1" value="P1Pin12,P1Pin16,P1Pin18"/>
    <add key="UserPortMapping:User2" value="P1Pin11,P1Pin13,P1Pin15"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>